* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: #141414;
}
:root {
	--vermelho: #d30000;
	--preto: #141414;
}

@font-face {
	font-family: Ensconce;
	src: url(EnsconceSansDEMO-Condensed.ttf);
}

@font-face {
	font-family: SuperMario;
	src: url(SuperMario256.ttf);
}

header {
	position: relative;
	top: 0px;
	background-color: transparent;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 10% rgba(0, 0, 0, 0));
	font-family: Ensconce;
	letter-spacing: 2px;
	z-index: 1;
}

header a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

header .container {
	height: 100px;
	display: flex;
	align-items: center;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
}

header .logo {
	font-size: 28px;
	font-style: italic;
	display: inline-block;
	border: white solid 4px;
	border-radius: 50px;
	padding: 10px 15px 10px 10px;
	color: var(--vermelho);
}

.menu-primario {
	list-style: none;
	display: flex;
}

.menu-secundario {
	list-style: none;
	display: flex;
	position: absolute;
	right: 4%;
}

.nav-bar li {
	margin-left: 15px;
}

.container {
	margin-left: 30px;
}

main .jogo-principal {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 50%), url('/img/mario.jpg');
	height: 700px;
	background-size: cover;
	position: relative;
	top: -25px;
}

main .container {
	padding-top: 50px;
	width: 50%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main ul {
	font-family: SuperMario;
	font-size: 5em;
	list-style: none;
	display: flex;
	align-items: center;
}

.name-jogo {
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.st-name {
	font-size: 5vw;
}

.st-name li:nth-child(1) {
	color: #d30000;
}
.st-name li:nth-child(2) {
	color: #1cc8f8;
}
.st-name li:nth-child(3) {
	color: #fff400;
}
.st-name li:nth-child(4) {
	color: #1cc8f8;
	z-index: 1;
}
.st-name li:nth-child(5) {
	color: #9acc10;
	margin-left: -5px;
}
.lst-name {
	font-size: 7vw;
}
.lst-name li:nth-child(1) {
	color: #9acc10;
	z-index: 1;
}
.lst-name li:nth-child(2) {
	color: #1cc8f8;
	margin-left: -5px;
}
.lst-name li:nth-child(3) {
	color: #fff400;
}
.lst-name li:nth-child(4) {
	color: #d30000;
	z-index: 1;
}
.lst-name li:nth-child(5) {
	color: #9acc10;
	margin-left: -15px;
}
.lst-name li:nth-child(6) {
	margin-left: 30px;
	color: #fff400;
	z-index: 2;
}
.lst-name li:nth-child(7) {
	color: #1cc8f8;
	margin-left: -20px;
	z-index: 1;
}
.lst-name li:nth-child(8) {
	color: #9acc10;
	margin-left: -8px;
}
.lst-name li:nth-child(9) {
	color: #d30000;
	z-index: 1;
}
.lst-name li:nth-child(10) {
	color: #9acc10;
	margin-left: -10px;
}

main ul li:hover {
	font-size: 1.2em;
}

.jogo-principal p {
	margin-top: 30px;
	font-size: 20px;
	font-family: Helvetica;
	color: white;
}
.buttons {
	margin-top: 30px;
	align-self: flex-start;
}

.buttons button {
	border: none;
	border-radius: 10px;
	padding: 15px 30px;
	display: inline;
	background: black;
	color: white;
	cursor: pointer;
	transition: all 0.3s;
}

.buttons button:hover {
	background: white;
	color: black;
	z-index: 1;
}

.lista-jogos {
	font-size: 20px;
	font-weight: 200;
	position: relative;
	top: -50px;
}

.carrosel-jogos {
	margin-top: 10px;
	position: relative;
	left: -30px;
	width: 100vw;
}

.carrosel-jogos button {
	background: #141414;
	border: none;
}
.carrosel-jogos button:hover {
	cursor: pointer;
}

.carrosel-jogos .owl-carousel .item:hover {
	transform: scale(1.2);
	cursor: pointer;
}
